@model Bumbo.Data.Models.Prognoses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row mb-3">
    <div class="col-12">
        <a class="btn btn-primary" asp-controller="Prognoses" asp-action="Index"><i class="fas fa-chevron-left mr-2"></i>Ga terug</a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-6 ">
        <div class="card card-body shadow-lg">
            <table class="table">
                <tr>
                    <td>Datum</td>
                    <td>@Model.Date</td>
                </tr>
                <tr>
                    <td>Aantal klanten</td>
                    <td>@Model.AmountOfCustomers</td>
                </tr>
                <tr>
                    <td>Hoeveelheid vracht</td>
                    <td>@Model.AmountOfFreight</td>
                </tr>
            </table>
        </div>
    </div>
</div>