@using Bumbo.Data.Models
@model Bumbo.Data.Models.Prognoses

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prognoses</h4>
<hr />
<div class="row">
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-primary" asp-controller="Equipment" asp-action="Show" asp-route-id="@Model.Date"><i class="fas fa-chevron-left mr-2"></i>Terug</a>
        </div>
    </div>
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.Date" asp-controller="Prognoses" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Date" />
            <div class="form-group">
                <label asp-for="AmountOfCustomers" class="control-label"></label>
                <input asp-for="AmountOfCustomers" class="form-control" />
                <span asp-validation-for="AmountOfCustomers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfFreight" class="control-label"></label>
                <input asp-for="AmountOfFreight" class="form-control" />
                <span asp-validation-for="AmountOfFreight" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="BranchId" />
            <div class="form-group">
                <label asp-for="WeatherDescription" class="control-label"></label>
                <input asp-for="WeatherDescription" class="form-control" />
                <span asp-validation-for="WeatherDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
