@using Microsoft.AspNetCore.Identity
@using Bumbo.Data
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bumbo Tool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body style="margin-bottom: 0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">

            <a title="Schakel de zij-navigatie in/uit" style="user-select: none;" id="menu-toggle" onclick="toggleMenu"><i class="fas fa-bars"></i>&nbsp;&nbsp;</a>
            <a style="font-weight: bold;">Bumbo Tool</a>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                    <a asp-area="" asp-controller="Home" asp-action="SubmitHours" class="list-group-item list-group-item-action bg-light">Uren doorgeven</a>
                    <a asp-area="" asp-controller="Schedule" asp-action="Index" class="list-group-item list-group-item-action bg-light">Rooster</a>
                    <a asp-area="" asp-controller="Prognoses" asp-action="Index" class="list-group-item list-group-item-action bg-light">Prognose</a>
                    <a asp-area="" asp-controller="WorkedHours" asp-action="Standard" class="list-group-item list-group-item-action bg-light">Gewerkte uren inzien</a>
                    <a asp-area="" asp-controller="AvailableWorktime" asp-action="Standard" class="list-group-item list-group-item-action bg-light" >Beschikbaarheid doorgeven</a>

                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-area="" asp-controller="Users" asp-action="Index" class="list-group-item list-group-item-action bg-light">Medewerkers</a>
                    }
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="list-group-item list-group-item-action bg-light">Inloggen</a>
                }
            </div>
        </div>
        <div id="page-content-wrapper" style="padding: 25px">
            @if (ViewData["UseContainer"] == null || ViewData["UseContainer"].Equals(true))
            {
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            }
            else
            {
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            }

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
