@model Bumbo.Data.Models.AvailableWorktime

@{
    ViewData["Title"] = "Create";
}
@*Moet 7 kolommen weergeven, voor elke datum (vincent ;) wil jij dit doen ;)?)*@
<h1>Create</h1>

<h4>Available Worktime</h4>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="UserId" class="control-label"></label>
    <label asp-for="UserId" class="form-control" asp-items="@ViewBag.UserId"></label>
</div>

<div class="row justify-content-md-center">
    @foreach (DateTime date in ViewBag.newDates)
    {
        <div class="col-md-3 text-center">
            <div class="card" style="width: 15rem; margin:3px;">
                <div class="card-body">
                    <div class="form-group">
                        <b><label asp-for="@date" class="control-label">@date.DayOfWeek, @date.ToShortDateString()</label></b>
                        <span asp-validation-for="WorkDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Start" class="control-label">Starting Time you are available at</label>
                        <input placeholder="For example: 9:00:00" asp-for="Start" class="form-control" />
                        <span asp-validation-for="Start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Finish" class="control-label">Finishing Time you are available at</label>
                        <input placeholder="For example: 18:00:00" asp-for="Finish" class="form-control" />
                        <span asp-validation-for="Finish" class="text-danger"></span>
                    </div>
                    @if (ViewBag.UserAge <= 18)
                    {
                        <div class="form-group">
                            <label asp-for="SchoolHoursWorked" class="control-label">How many hours have you had in school this day?</label>
                            <input asp-for="SchoolHoursWorked" class="form-control" />
                            <span asp-validation-for="SchoolHoursWorked" class="text-danger"></span>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
</div>

<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
