@model Bumbo.Web.Models.AvailableWorkTimeDeleteViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Beschikbaarheid aanpassen</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AvailableWorktime" asp-action="EditConfirmed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="AvailableWorkTime" value="@Model.AvailableWorkTime"/>
            <input type="hidden" asp-for="AvailableWorkTime.UserId" value="@Model.AvailableWorkTime.UserId"/>
            <div class="form-group">
                <input type="hidden" asp-for="AvailableWorkTime.WorkDate" class="form-control" value="@Model.AvailableWorkTime.WorkDate"/>
            </div>
            <div class="form-group">
                <label asp-for="AvailableWorkTime.Start" class="control-label">Starttijd</label>
                <input asp-for="AvailableWorkTime.Start" type="time" class="form-control" />
                <span asp-validation-for="AvailableWorkTime.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableWorkTime.Finish" class="control-label">Eindtijd</label>
                <input asp-for="AvailableWorkTime.Finish" type="time" class="form-control" />
                <span asp-validation-for="AvailableWorkTime.Finish" class="text-danger"></span>
            </div>
            @if (ViewBag.UserAge < 19)
            {
                <div class="form-group">
                    <label asp-for="AvailableWorkTime.SchoolHoursWorked" class="control-label"></label>
                    <input asp-for="AvailableWorkTime.SchoolHoursWorked" class="form-control" />
                    <span asp-validation-for="AvailableWorkTime.SchoolHoursWorked" class="text-danger"></span>
                </div>
            }
        <i>
            *Indien je niet beschikbaar bent, vul dan in:
            <br>
            01:00(AM) en 01:00(AM)
        </i>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-area="" asp-controller="AvailableWorktime" asp-action="Standard">Terug naar het overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
