@model Bumbo.Web.Models.ScheduleViewModel

@{
    ViewData["Title"] = "Rooster";
}

<div class="row mb-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <h4>Rooster</h4>
        @if (User.IsInRole("Manager"))
        {
            <form style="width: 512px" asp-action="Index" class="input-group">
                <div class="input-group-prepend">
                    <label id="userSelect" class="input-group-text">Rooster voor:</label>
                </div>
                <select onchange="this.form.submit()" asp-for="@Model.UserId" class="form-control" >
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.Id">@user.GetFullName()</option>
                    }
                </select>
            </form>
        }
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="calendar"></div>
    </div>
</div>

<script>
const url = new URL(`${window.location.protocol}//${window.location.host}/api/schedule`);
const id = @Model.UserId;

document.addEventListener('DOMContentLoaded', function () {
    const calendarElement = document.getElementById('calendar');
    const eventForm = document.getElementById('add-event');

    url.searchParams.append('id', id);

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    const calendar = new FullCalendar.Calendar(calendarElement, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: ''
        },

        firstDay: 1,
        locale: 'nl',
        buttonText: {
            today: 'vandaag',
        },

        initialView: 'timeGridWeek',
        initialDate: new Date().toISOString().split('T')[0],

        nowIndicator: true,
        navLinks: true,
        editable: false,

        events: {
            url,
        }
    });

    calendar.render();
});
</script>